

input[type="submit"] {
  background-color: var(--ch-white);
  color: var(--ch-black);
  font-size: 2rem;
  padding: 0.5rem 1rem;;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;

  -webkit-transition: 0.15s linear;
  -moz-transition:  0.15s linear;
  -ms-transition:  0.15s linear;
  -o-transition:  0.15s linear;
  transition:  0.15s linear;
}
input[type=submit]:hover {
  background-color: var(--ch-black);
  color: var(--ch-white);
  border: 1px solid var(--ch-white);
}
input[type=submit]:active {
  scale: 98%;
  border: 1px solid var(--muted-cream);
  color: var(--muted-cream);
  box-shadow: 0px 0px 1px 2px rgba(216,182,164,0.70);
-webkit-box-shadow: 0px 0px 1px 2px rgba(216,182,164,0.70);
-moz-box-shadow: 0px 0px 1px 2px rgba(216,182,164,0.70);
}

label {
  font-size: 2rem;
  margin-left: 0.25rem;
  padding: 0;
  font-family: "Kalam", sans-serif;
}

.textfield {
  width: 15rem;
  font-size: 2rem;
}
