h1 {
  margin: 0;
}

.Header-Component {
  min-width:100vw;
}
@media only screen and (min-width: 1000px) {
  .Header-Component {
    text-align: left;
  }
}

.header {
  min-width: 100vw;
}

.background-image {
  width: 100vw;
  height: auto;
  transform: scaleX(-1);
}
@media only screen and (min-width: 1000px) {
  /* If the user is using a laptop or desktop computer... */
  .background-image {
    width: auto;
    position: fixed;
    top:0%;
    right:-30%;
    z-index:-1;
    height: 100vh;
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .background-image {
    right: -15%;
  }
}
@media only screen and (min-width: 1400px) {
  .background-image {
    right: 0;
  }
}


.clock-card {
  display: inline-block;
  padding: 5rem 3rem;
  background: var(--ch-maroon);
}
@media only screen and (min-width: 1000px) {
  .clock-card {
    text-align: left;
  }
}
@media only screen and (max-width:1000px) {
  .clock-card {
    padding: 3rem 0;
  }
}

.text-card {
  display: inline-block;
  text-align: center;
  background: var(--ch-maroon);
  padding: 2rem 2rem 3rem 3rem;
  border-radius: 0 0 20% 0;
  width: 40vw;
}
.text-card>img{
  width: 35vw;
}
@media only screen and (max-width:1000px) {
  .text-card {
    width: 100vw;
    padding: 0 0 3rem 0;
  }
  .text-card>img {
    width: 60vw;
    margin-bottom: 2rem;
  }
}
.ampersand {
  font-size: 2rem;
  font-weight: 400;

}
.subscript {
  margin-top: 3rem;
  font-size: 2.5vh;
  text-align: left;
}
.date {
  /* max-width: 55%; */
  text-align: left;
  margin: 5rem 0 0 0;
}
@media only screen and (max-width: 1000px) {
  .save-date {
    text-align: center;
  }
  .date, .subscript {
    text-align: inherit;
  }
  .date {
    margin-top: 1rem;
  }
}
.rsvp {
  background-color: var(--ch-black);
  border-radius: 10%;
  text-align: center;
  padding: 1rem;
  /* margin-top: 2rem; */
  margin-right: 2rem;
}
@media screen and (max-width:1000px) {
.rsvp {
  margin-right:0;
}
}
.rsvp:hover {
  box-shadow: 0 0 5px 0 var(--ch-cream);
}
.rsvp:active {
  box-shadow: inset 0 0 3px var(--ch-cream);
}
.rsvp>h6 {
  margin: 0;
  text-shadow: inherit;
  user-select: none;
}
