h1, p {
  margin: 0;
}

.Header-Component {
  min-width:100vw;
  min-height: 100vh;
}

.header {
  height: 100vh;
  width: 100vw;
}

.background-image {
  position: fixed;
  top:0;
  right:0;
  z-index:-1;
  height: auto;
  width: 84vw;
}

.countdown {

}
.clock-card {
  display: inline-block;
  text-align: left;
  padding: 2rem 3rem 2rem 3rem;
}

.text-card {
  display: inline-block;
  text-align: center;
  background: var(--ch-maroon);
  padding: 2rem 2rem 6rem 3rem;
  border-radius: 0 0 20% 0;
  max-width: 40vw;
}
.text-card>img{
  width: 35vw;
}
.date {
  max-width: 55%;
}
.date>p {
  margin: 0;
}
.rsvp {
  margin-right: 8%;
  background-color: var(--ch-black);
  border-radius: 10%;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.rsvp:hover {
  box-shadow: 0 0 5px 0 var(--ch-cream);
}
.rsvp:active {
  box-shadow: inset 0 0 3px var(--ch-cream)
}
.rsvp>h3 {
  margin: 0;
  text-shadow: inherit;
  user-select: none;
}
.save-date{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscript {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: left;
}
