

.information {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  background-color: var(--ch-maroon);
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  max-width: 45vw;
  min-width: 100vw;
  padding-top: 2rem;
}
article>* {
  margin: 0 2vw;
}
article>p {
  margin-top: 1rem;
}
article>*:last-child {
  padding-bottom: 3rem;
}
article:last-child>*:last-child{
  padding-bottom: 1.5rem;
}

/* Image */
.image {
  border-radius: 1.75rem;
  border: 0;
  display: inline-flex;
  justify-content: center;
  padding: 1rem 0;
}
  .image img {
    border: 1px var(--ch-maroon) solid;
    border-radius: 1.75rem;
    display: block;
    width: 75%;
    height: auto;
  }

  .parralax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 90vh;
    width: 100vw;
  }
  .par_one {
  background-image: url("../images/proposal_knee_wide.jpg");
  background-position: left;
  }
  .par_two {
    background-image: url("../images/engagement_party.JPG");
    background-position: center;
  }
  .par_three {
    background-image: url("../images/proposal_point.JPG");
    background-position: bottom left;
    /* background-position: bottom is more vissually pleasing as it leaves the ring in view at the bottom of the page. */
  }


a.image {
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden; }
  a.image img {
    -moz-transition: -moz-transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    transition: transform 0.2s ease; }
  a.image:hover img {
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075); }
